/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.text-orange {
    font-weight: 300;
    color: orange;
}

.text-white {
    font-weight: 700;
    color: #ffffff;
}

.texto-negro {
	color: #000;
}


.header{
  background: url('../media/bg-imagen.jpeg');
  background-position:  center;
}

.header .content-title{
    text-align: center;
    position: relative;
    z-index: 99;
    font-size: 70px;
    text-transform: uppercase;
}

.header .content-icon{
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 99px;
    animation: arrow 1s ease infinite;
}

@keyframes arrow {
    0% { transform: translateY(20px);}
    15% { transform: translateY(0px); }
    100% { transform: translateY(20px);}
}

.bg-video{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% ;
    background: #000;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}
.nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:70;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}
.nav a, .nav li{
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(223, 223, 223);
  transition: .4s ease;
  text-transform: uppercase;
}
.nav li.active {
  border-bottom: 3px solid rgb(221, 167, 8);
}

.menu li a {
  transition: .4s ease;
   margin: 0;
  padding: 0;
}


.menu li.active a{
  color: orange;
}
.productos article{
  background-position: center;
  background-size: cover;
}
.productos article:nth-child(1){
  background-image: url('../media/p1.jpg')
}
.productos article:nth-child(2){
  background-image: url('../media/p2.jpg')
}
.productos article:nth-child(3){
  background-image: url('../media/p3.jpg')
}

.productos .info-productos{
  margin: 0 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40%;
}

.productos .info-productos::before{
content:"";
height: 50px;
width: 5px;
display: inline-block;
background-color: orange;
position: absolute;
top: 50%;
margin: -20px;


}
.info-productos .description{
  display: block;
}

.productos .model{
  font-size: 55px;
}
.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
  top: 90%;
}

.fp-controlArrow.fp-prev{
  left: 20%;
  border-width: 20px 20px 20px 0px;
  border-color: transparent rgb(255, 211, 113) transparent transparent;
}
.fp-controlArrow.fp-next{
  right: 20%;
  border-width: 20px 0px 20px 20px;
  border-color: transparent transparent transparent rgb(255, 211, 113);
}
